.popup__button-close {
    background-image: url(../../../../images/Close-Icon.svg);
    height: 32px;
    width: 32px;
    padding: 0;
    border-style: none;
    position: absolute;
    top: -40px;
    right: -40px;
    border: none;
}

.popup__button-close:hover {
    opacity: 0.6;
}

@media screen and (max-width: 540px) {
    .popup__button-close {
        background-image: url(../../../../images/Close-Icon2.svg);
        height: 20px;
        width: 20px;
        top: -36px;
        right: 0;
    }
}